html {
    height: 100%;
}

body {
    -ms-overflow-style: none;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
                'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: rgb(200, 200, 200);
    letter-spacing: 0.01em;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
}

body::-webkit-scrollbar {
    display: none;
}